@import "./Components/adaptive-fontMixin.scss";
.App {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color: #fefefe;
}
.headerBackGround {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    .header_wrapper {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        padding: 8px 0 8px 0;
        border-bottom: 1px solid grey;
        background-color: rgba(0, 0, 0, 0.3);
    }
    .header_block {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 73%;
    }
}

.logo_block {
    display: flex;
    align-items: center;

    width: 6%;
}

.menuList {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: white;
        flex-wrap: wrap;
        li {
            margin: 0 8px 0 8px;
        }
    }

    button {
        font-size: 18px;
        text-decoration: none;
        color: white;
        cursor: pointer;
        background: none;
        border: none;
    }
    button:hover {
        color: yellow;
    }
}

.social_block {
    width: 10%;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0 0 0;

    div {
        width: 22px;
        padding-left: 8px;
        a {
            text-decoration: none;
            color: white;
        }
        a:hover {
            color: yellow;
        }
    }
    div:hover {
        color: yellow;
        cursor: pointer;
    }
}
.search_block {
    display: flex;
    color: white;
    align-items: center;
    padding: 0 0 0 8px;
    .search_icon {
        border-right: 1px solid white;
        padding: 2px 5px 0 0;
        cursor: pointer;
    }
    .search_icon:hover {
        color: yellow;
    }
}
.mobile_left_panel {
    display: none;
    width: 10%;
    margin: 0 10px 0 0;
}

.burger_button {
    position: relative;
    top: 90px;
    width: 10%;

    span {
        content: "";
        position: absolute;
        width: 30px;
        height: 4px;
        background-color: white;
        transition: all 500ms;
        border-radius: 5px;
    }
    span::before {
        content: "";
        position: absolute;
        top: -10px;
        width: 30px;
        height: 4px;
        background-color: white;
        transition: all 500ms;
        border-radius: 5px;
    }
    span::after {
        content: "";
        position: absolute;
        top: 10px;
        width: 30px;
        height: 4px;
        background-color: white;
        transition: all 500ms;
        border-radius: 5px;
    }
}
.burger_button.active {
    span {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        background-color: white;
        transition: all 500ms;
    }
    span::before {
        top: 0;
        rotate: -45deg;
        transition: all 500ms;
    }
    span::after {
        top: 0;
        rotate: 45deg;
        transition: all 500ms;
    }
}
.mobile_navigation {
    display: none;
    .clear_icon {
        display: flex;
        justify-content: flex-end;
        margin: 12px 35px 40px 0;
        font-weight: 700;
    }
    a {
        text-decoration: none;
        color: white;
    }
}
.SearchPopUp {
    display: none;
    .clear_icon {
        display: flex;
        justify-content: flex-end;
        margin: 24px 50px 0 0;
        font-weight: 700;
        color: white;
    }
}
.map_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0;
    width: 100%;
    .map_block_block {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 30px;
        iframe {
            width: 73%;
        }
    }
    .map_block_header {
        display: flex;
        width: 100%;
        font-family: "Righteous", cursive;
        line-height: 1;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        justify-content: center;
        margin: 80px 0 0 0;
    }
    .map_block_border {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 20px 0 0 0;
        span {
            width: 27px;
            height: 4px;
            background-color: #fefefe;
        }
    }
}
.PopUpForm {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 45%;
        height: 50%;
        background-color: #fefefe;
        border-radius: 10px;
        padding: 50px 0;
        .PopUpForm_header {
            color: black;
            font-size: 30px;
        }
        .PopUpForm_item {
            width: 50%;
            margin: 0 auto;
        }
    }
}
.wrapperSlider {
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    height: 89%;
    .sliderBlock {
        width: 100%;

        margin: 0 auto;
        padding-top: 50px;
        .slideBlock {
            position: relative;
        }
    }
}

.footer_wrapper {
    width: 100%;
    background-color: #191919;
    padding-bottom: 30px;
    .footer {
        display: flex;
        width: 73%;
        margin: 0 auto;
        padding-top: 10px;
        flex-direction: column;
        .footer_block {
            display: flex;
            border-top: 1px solid white;
            margin-top: 10px;
        }
        header {
            display: flex;
            justify-content: space-between;
        }
    }
    .footer_social {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        div {
            color: white;
        }
        a {
            text-decoration: none;
            color: white;
            margin: 0 0 0 20px;
        }
        a:hover {
            color: yellow;
        }
    }
    .footer_contacts {
        width: 50%;

        font-size: 16px;
        ul {
            height: 100%;
            padding: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            li {
                margin: 0;
                padding: 8px 0 0 8px;
            }
            a {
                color: white;
                text-decoration: none;
            }
            a:hover {
                color: yellow;
            }
        }
    }
}
.coaches_card_block {
    width: 100%;
    padding-bottom: 80px;
    background-color: #191919;

    .coachesCardBlock {
        position: relative;
        width: 73%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.5em;

        margin: 36px auto 0 auto;
        .newCard {
            width: 373px;
            height: 544px;
            color: white;
            margin: 0 auto;
            .front {
                box-sizing: border-box;
                position: relative;
                width: 100%;
                height: 100%;
                text-align: center;

                .newCard_footer {
                    width: 100%;
                    position: absolute;
                    bottom: 20px;
                    margin: 0 auto;
                    .coachesCardItem_info_name {
                        color: yellow;
                        @include adaptive-font(30, 20);
                    }
                    .coachesCardItem_info_class {
                        color: white;
                        font-weight: 400;
                        @include adaptive-font(20, 12);
                        margin: 8px 0 16px 0;
                    }
                }
            }
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .coaches_card_header {
        display: flex;
        width: 100%;
        font-family: "Righteous", cursive;
        line-height: 1;
        font-size: 24px;
        font-weight: 700;
        color: white;
        justify-content: center;
        padding: 80px 0 0 0;
    }
    .coaches_card_header_border {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 20px 0 0 0;
        span {
            width: 27px;
            height: 4px;
            background-color: yellow;
        }
    }
}

.club_card_block {
    width: 100%;

    padding-bottom: 80px;

    .clubCardBlock {
        position: relative;
        width: 73%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1rem;
        margin: 0 auto;

        .newCard {
            width: 100%;
            height: 544px;
            color: white;

            margin-top: 36px;

            cursor: pointer;
            .front {
                box-sizing: border-box;
                position: relative;
                background-color: #000000;
                width: 100%;
                height: 100%;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-radius: 15px;
                .clubCardItem_info_text {
                    height: 300px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin: 20px 0 30px 0;
                    padding: 0;
                    li {
                        margin: 0;
                    }
                }
            }
        }
    }
    .club_card_header {
        display: flex;
        width: 100%;
        font-family: "Righteous", cursive;
        line-height: 1;
        font-size: 24px;
        font-weight: 700;
        color: black;
        justify-content: center;
        padding: 80px 0 0 0;
    }
    .club_card_header_border {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 20px 0 0 0;
        span {
            width: 27px;
            height: 4px;
            background-color: white;
        }
    }
}

.wrapperMainBlock {
    display: flex;
    position: relative;
    justify-content: center;

    width: 100%;
    height: 100%;
    .wrapperMainBlock_content {
        width: 73%;
        padding-bottom: 80px;
        .ourPrograms {
            display: flex;
            width: 100%;
            font-family: "Righteous", cursive;
            line-height: 1;
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
            justify-content: center;
            margin: 80px 0 0 0;
        }
        .ourPrograms_border {
            display: flex;
            width: 100%;
            justify-content: center;
            margin: 20px 0 0 0;
            span {
                width: 27px;
                height: 4px;
                background-color: #fefefe;
            }
        }
        .blockCards {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1.5em;
            margin: 20px 0 0 0;
        }
        .card {
            position: relative;
            width: 373px;
            height: 544px;
            color: white;
            transform-style: preserve-3d;
            margin: 36px auto 0 auto;
        }

        .card__front,
        .card__back {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            backface-visibility: hidden;
            transition: transform 2s cubic-bezier(0.2, 0.85, 0.4, 1.275),
                opacity 0.5s ease;
            overflow: hidden;
        }

        .card__front {
            position: relative;
            background-color: black;

            h3 {
                width: 100%;
                letter-spacing: 2px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-family: "Righteous", Sans-serif;
                @include adaptive-font(34, 24);
                color: #fbe23c;
                font-weight: 400;
                line-height: 1.2em;
            }
        }

        .card__back {
            background-color: white;
            transform: rotateY(-180deg);
            opacity: 0;
            .blockCards_list {
                color: rgba(255, 255, 255, 0.6);
                margin-bottom: 12px;
                li {
                    text-align: left;
                    font-size: 14px;
                    padding: 0;
                    margin: 0;
                }
            }
            .backCardContent {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: rgba(0, 0, 0, 0.5);
                h3 {
                    align-self: center;
                    text-align: center;
                    color: #fbe23c;
                    font-family: "Righteous", Sans-serif;
                    font-size: 34px;
                    font-weight: 400;
                    text-transform: uppercase;
                    line-height: 1.2em;
                }
                p {
                    text-align: center;
                    color: rgba(255, 255, 255, 0.6);
                    font-family: "Raleway", Sans-serif;
                    font-size: 14px;
                    padding: 0px 27px 0px 27px;
                    margin: 10px 0 10px 0;
                }
            }
        }

        .card:hover .card__back {
            transform: rotateY(0deg);
            opacity: 1;
        }

        .card:hover .card__front {
            transform: rotateY(180deg);
            opacity: 0;
        }
    }
}
.buttonVisit_block {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    .buttonVisit_block_button {
        background-color: #e4b800;
        margin: 0;
    }
    .buttonVisit_block_button:hover {
        background-color: #000000;
        color: white;
    }
}

.gallery_block {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;

    background-color: #191919;
    .gallery_images_container {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        img {
            width: 100%;
            height: 100%;
        }
    }
    .gallery_images_container_item {
        position: relative;
        cursor: pointer;
        .modal_img_hoverButton {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            display: none;
            justify-content: center;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.6);
            .modal_img_hoverButton_background {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                width: 50px;
                height: 50px;
                border: 15px solid #fbe23c80;
                border-radius: 50%;
            }
            .modal_img_hoverButton_button {
                width: 20%;
                height: 20%;
                color: #fbe23c;
            }
        }
    }
    .gallery_images_container_item:hover {
        .modal_img_hoverButton {
            display: flex;
        }
    }
}

.modal_img_container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    .modal_img {
        width: 80%;
    }
    .modal_img_item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .modal_img_header {
        display: flex;
        margin-left: 20px;
        justify-content: space-between;
        width: 100%;
        height: 70px;
        margin-top: 10px;
        position: fixed;
        top: 0;
        left: 0;
        color: white;
        .modal_img_header_rightPanel {
            margin-right: 20px;
            color: white;
        }
    }
    .arrow_container.left {
        cursor: pointer;
        display: flex;
        align-items: center;
        width: 20%;
        height: 100%;
        button {
            height: 40px;
        }
    }
    .arrow_container.right {
        cursor: pointer;
        display: flex;
        width: 20%;
        height: 100%;
        align-items: center;

        justify-content: flex-end;
        button {
            height: 40px;
        }
    }
}
.touch {
    .modal_img_container {
        .modal_img_item {
            width: 100%;
            height: 90vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .arrow_container {
            display: none;
        }
    }
}

.button_order_card_block {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 80px;
    background-color: #191919;
    .button_order_card_item {
        background-color: #e4b800;
        width: 30%;
        margin: 20px auto 0 auto;
        padding: 10px 0;
        color: white;
        &:hover {
            background-color: "#000000";
        }
    }
}

.footer_modal_block {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}
.schedule_wrapper {
    width: 73%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    a {
        width: 25%;
        display: flex;
        justify-content: center;
        margin: 0 auto 80px auto;
        text-decoration: none;
    }
    .buttonVisit_block_button {
        width: 100%;
        background-color: #e4b800;
    }
    .buttonVisit_block_button:hover {
        background-color: #000000;
        color: white;
    }
}

.schedule_block {
    width: 100%;
    padding: 20px 0 50px 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    .schedule {
        width: 100%;

        border-collapse: collapse;

        background-color: #33393e;
    }

    th,
    td {
        text-align: left;
        color: #5b7bb2;
    }
    th {
        color: #fbe23c;
    }
    td {
        height: 50px;
    }
    .schedule_row {
        position: relative;
        height: 75px;
        margin: 10px 5px;
        display: grid;
        grid-template-columns: 1fr;
    }

    .schedule_row.body {
        background-color: #e4b800;
    }
    .schedule_row.day {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .allTraining {
        span {
            width: 95%;
            display: flex;
            justify-content: center;
            color: yellow;
            font-size: 14px;
            font-weight: 600;
            padding: 10px 0;
        }
        .allTraining_name {
            display: flex;
            justify-content: center;
            width: 95%;
            @include adaptive-font(17, 15);
        }
        .allTraining_tooltip {
            box-sizing: border-box;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 55px;
            width: 100%;

            font-size: 14px;
            border-radius: 10px;
            background-color: #ffffff;
            transition: all 500ms;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            padding: 8px;
            z-index: 2;
            .buttonVisit_block_button {
                font-size: 14px;
                background-color: #e4b800;
                margin: 16px 0;
                padding: 6px 16px;
                border: none;
                border-radius: 6px;
            }
            .buttonVisit_block_button:hover {
                background-color: #000000;
                color: white;
            }
        }
    }
    .allTraining:hover {
        .allTraining_tooltip {
            opacity: 1;
            visibility: visible;
            transition: all 500ms;
        }
    }
}

.contacts_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    margin-right: 12px;
    margin-left: 12px;
    p {
        font-size: 14px;
        padding: 5px 0;
        margin: 0;
        color: white;
        a {
            text-decoration: none;
            color: #fbe23c;
        }
        a:hover {
            text-decoration: underline;
            color: blue;
        }
    }
}

.main_info {
    width: 73%;
    margin: 0 auto;
    padding: 20px 0;
    p {
        text-align: center;
        color: #ffffff;
        font-family: "Raleway", Sans-serif;
        @include adaptive-font(18, 14);
        font-weight: 400;
        font-style: normal;

        line-height: 1.643;
    }
}
@media (max-width: 1500px) {
    .footer_wrapper {
        .footer {
            width: 78%;
        }
    }
    .main_info {
        width: 78%;
    }
    .schedule_wrapper {
        width: 78%;
    }
    .coaches_card_block {
        .coachesCardBlock {
            width: 78%;
        }
    }
    .club_card_block {
        .clubCardBlock {
            width: 78%;

            grid-template-columns: 1fr 1fr;

            .newCard {
                height: 700px;
            }
        }
    }

    .wrapperMainBlock {
        .wrapperMainBlock_content {
            width: 78%;
        }
    }
    .headerBackGround {
        .header_block {
            width: 78%;
        }
    }
}
@media (max-width: 1400px) {
    .footer_wrapper {
        .footer {
            width: 85%;
        }
    }
    .main_info {
        width: 85%;
    }
    .schedule_wrapper {
        width: 85%;
    }
    .club_card_block {
        .clubCardBlock {
            width: 85%;
            grid-template-columns: 1fr 1fr;

            .newCard {
                height: 700px;
            }
        }
    }

    .coaches_card_block {
        .coachesCardBlock {
            width: 85%;
        }
    }
    .wrapperMainBlock {
        .wrapperMainBlock_content {
            width: 85%;
        }
    }
    .headerBackGround {
        .header_block {
            width: 85%;
        }
    }
}

@media (max-width: 1300px) {
    .footer_wrapper {
        .footer {
            width: 95%;
        }
    }
    .wrapperMainBlock {
        .wrapperMainBlock_content {
            .card {
                height: 600px;
            }
        }
    }
    .main_info {
        width: 95%;
    }
    .schedule_wrapper {
        width: 95%;
    }
    .modal_img_container {
        .modal_img {
            width: 95%;
        }
        .modal_img_item {
        }
        .modal_img_header {
            width: 100%;
            height: 70px;
        }
        .arrow_container.left {
            width: 5%;
            height: 100%;
            button {
                height: 40px;
            }
        }
        .arrow_container.right {
            width: 5%;
        }
    }
    .club_card_block {
        .clubCardBlock {
            width: 90%;
        }
    }

    .coaches_card_block {
        .coachesCardBlock {
            width: 90%;
        }
    }
    .wrapperMainBlock {
        .wrapperMainBlock_content {
            width: 90%;
        }
    }
    .headerBackGround {
        .header_block {
            width: 90%;
        }
    }
}
@media (max-width: 1254px) {
    .coaches_card_block {
        .coachesCardBlock {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
    .wrapperMainBlock {
        .wrapperMainBlock_content {
            .blockCards {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }
        }
    }
}
@media (max-width: 1200px) {
    .wrapperMainBlock {
        .wrapperMainBlock_content {
            .card {
                height: 600px;
            }
        }
    }
    .schedule_block {
        display: flex;
        flex-wrap: wrap;
    }

    .schedule:nth-child(1) {
        width: 25%;
    }
    .schedule:nth-child(2) {
        width: 25%;
    }
    .schedule:nth-child(3) {
        width: 25%;
    }
    .schedule:nth-child(4) {
        width: 25%;
    }

    .schedule:nth-child(n + 5) {
        width: 33.33%;
    }
}

@media (max-width: 1024px) {
    .buttonVisit_block {
        top: 85%;
    }
    .modal_img_container {
        .modal_img {
            width: 100%;
        }
        .modal_img_item {
            position: relative;
            width: 100%;
        }
        .modal_img_header {
            width: 100%;
            height: 70px;
        }
        .arrow_container.left {
            position: absolute;
            top: 0;
        }
        .arrow_container.right {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    .coaches_card_block {
        .coachesCardBlock {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    .club_card_block {
        .clubCardBlock {
            .clubCardItem {
                width: 100%;
            }
        }
    }
    .footer_wrapper {
        .footer {
            width: 100%;
        }
    }

    .coaches_card_block {
        .coachesCardBlock {
            .coachesCardItem {
                width: 100%;
            }
        }
    }
    .PopUpForm {
        form {
            width: 65%;
        }
    }

    .wrapperMainBlock {
        .wrapperMainBlock_content {
            width: 95%;

            .card {
                width: 344px;
                height: 600px;
            }
        }
    }

    .header_block {
        width: 95%;
    }
}
@media (max-width: 830px) {
    .coaches_card_block {
        .coachesCardBlock {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media (max-width: 767px) {
    .schedule_wrapper {
        a {
            width: 35%;
        }
    }

    .gallery_block {
        .gallery_images_container {
            grid-template-columns: 1fr 1fr;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .contacts_block {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-right: 12px;
        p {
            font-size: 14px;
            padding: 5px 0;
            margin: 0;
            color: white;
            a {
                text-decoration: none;
                color: #fbe23c;
            }
            a:hover {
                text-decoration: underline;
                color: blue;
            }
        }
    }
    .schedule_block {
        .allTraining {
            .allTraining_tooltip {
                left: 50%;
                transform: translateX(-50%);
                width: 70%;
            }
        }
    }

    .schedule:nth-child(n + 1) {
        width: 100%;
    }
    .button_order_card_block {
        .button_order_card_item {
            width: 50%;
        }
    }
    .club_card_block {
        .clubCardBlock {
            grid-template-columns: 1fr;
            grid-gap: 0;
            .newCard {
                width: 75%;
                height: 650px;
                margin: 36px auto 0 auto;
            }
        }
    }

    .coaches_card_block {
        .coachesCardBlock {
            grid-template-columns: 1fr;
            .newCard {
                width: 75%;

                margin: 0 auto;
            }
            .coachesCardItem {
                width: 100%;
                flex-direction: column;
                .coachesCardItem_img {
                    width: 100%;
                    height: 40%;
                }
            }
        }
    }
    .wrapperMainBlock {
        .wrapperMainBlock_content {
            width: 95%;
            .blockCards {
                grid-template-columns: 1fr;

                .card {
                    width: 75%;
                    height: 650px;
                    margin: 36px auto 0 auto;
                }
            }
        }
    }
    .PopUpForm {
        form {
            justify-content: center;
            width: 85%;
            height: 70%;
            .PopUpForm_item {
                width: 70%;
                margin: 20px auto 0 auto;
            }
            .PopUpForm_item.area {
                height: 120px;
                margin: 40px auto 0 auto;
            }
            .PopUpForm_item.button {
                width: 50%;
                margin: 120px auto 0 auto;
            }
        }
    }

    .map_block {
        .map_block_block {
            iframe {
                width: 95%;
            }
        }
    }

    .wrapperSlider {
        .sliderBlock {
            width: 100%;
            margin: 0 auto;
        }
    }
    .mobile_left_panel {
        display: block;
    }
    .menuList {
        display: none;
    }
    .headerBackGround {
        justify-content: space-between;
        .header_block {
            display: block;
            justify-content: center;
            margin-left: 10px;
            width: 10%;
        }
        .contacts_block {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 70%;
        }
        .mobile_left_panel {
            width: 2%;
        }
    }
    .search_block {
        display: none;
        color: white;
        justify-content: flex-end;

        .search_icon {
            border-right: none;
        }
    }

    .social_block {
        width: 8%;
        display: flex;
        color: white;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 0 10px;

        div {
            width: 22px;
            padding: 0 16px 0 0;
        }
    }

    .mobile_navigation {
        display: block;
        position: fixed;
        top: 0;
        right: -100%;
        color: white;
        width: 50%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        transition: all 500ms;
        z-index: 2;
        ul {
            width: 100%;
            display: flex;
            padding: 0;
            flex-direction: column;

            li {
                font-weight: 600;
                margin: 10px 70px 10px auto;
            }
        }
    }
    .mobile_navigation.active {
        right: 0;
        transition: all 500ms;
    }
    .SearchPopUp {
        display: block;
        opacity: 0;
        visibility: hidden;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        transition: all 500ms;
        z-index: 2;
    }
    .SearchPopUp.active {
        opacity: 1;
        visibility: visible;
        transition: all 500ms;
    }
    .mobile_search_block {
        position: absolute;
        top: 40%;
        left: 25%;
        width: 70%;
    }
}

@media (max-width: 600px) {
    .club_card_block {
        .clubCardBlock {
            .newCard {
                width: 90%;
            }
        }
    }

    .coaches_card_block {
        .coachesCardBlock {
            .newCard {
                width: 90%;
            }
        }
    }

    .wrapperMainBlock {
        .wrapperMainBlock_content {
            .blockCards {
                .card {
                    width: 90%;
                    height: 544px;
                }
            }
        }
    }
    .footer_wrapper {
        .footer {
            header {
                display: flex;
                justify-content: space-between;
                .contacts_block {
                    flex-direction: column;
                    p {
                        text-align: right;
                    }
                }
            }
        }
    }
    .headerBackGround {
        .header_wrapper {
            justify-content: space-between;
        }
        .header_block {
            width: 20%;
        }
        .mobile_left_panel {
            margin-right: 30px;
        }
        .contacts_block {
            display: flex;
            flex-direction: column;
            p {
                text-align: center;
            }
        }
    }
    .mobile_navigation {
        width: 70%;
    }
    .PopUpForm {
        form {
            .PopUpForm_header {
                margin-bottom: 30px;
            }
            .PopUpForm_item.button {
                width: 50%;
                margin: 80px auto 0 auto;
            }
        }
    }
}
@media (max-width: 460px) {
    .schedule_wrapper {
        a {
            width: 45%;
        }
    }
    .club_card_block {
        .clubCardBlock {
            .newCard {
                width: 100%;
            }
        }
    }

    .coaches_card_block {
        .coachesCardBlock {
            .newCard {
                width: 100%;
            }
        }
    }
    .wrapperMainBlock {
        .wrapperMainBlock_content {
            .blockCards {
                .card {
                    width: 100%;
                }
            }
        }
    }
    .buttonVisit_block {
        top: 80%;
    }

    .button_order_card_block {
        .button_order_card_item {
            width: 70%;
        }
    }
    .wrapperMainBlock {
        .wrapperMainBlock_content {
            .blockCards {
                .full-width {
                    .card__front {
                        img {
                            transform: scale(1.2) translate(25px, -45px);
                        }
                    }
                    .card__back {
                        img {
                            transform: scale(1.2) translate(25px, -45px);
                        }
                    }
                }
            }
        }
    }
    .mobile_search_block {
        left: 25%;
    }
    .mobile_left_panel {
        margin: 0 20px 0 0;
    }
    .mobile_navigation {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .buttonVisit_block {
        top: 75%;
    }
    .headerBackGround {
        .contacts_block {
            display: none;
        }
    }
}
